@using ProtectionOfInfo.WebApp.Data.Configurations
@using ProtectionOfInfo.WebApp.ViewModels
@using ProtectionOfInfo.WebApp.ViewModels.CatalogViewModels.PublisherViewModels
@using ProtectionOfInfo.WebApp.Infrastructure.OperationResults
@model OperationResult<List<PublisherViewModel>>
@{
    ViewData["Title"] = "Все издательства";
    ViewData["MiniTitle"] = "Список всех добавленных издательств";
    ViewData["ErrorTitle"] = ViewData["MiniTitle"];
}

@if (Model != null && !Model.Ok || Model!.MetaData.Type != MetaDataType.Success)
{
    var operation = new OperationResult<object>();
    operation.MetaData = Model.MetaData;
    operation.Exception = Model.Exception;
    operation.AppendLog(Model.Logs);
    <partial name="_ErrorPartial" model='operation' />
}

@if (Model != null && Model!.Ok)
{
    var listSort = new List<NavMethodsForTablesViewModel<ParamSort>>() {
        new NavMethodsForTablesViewModel<ParamSort>()
        {
            Name = $"Сортировка по Названию издательства",
            Controller = "Publisher",
            Action = "Sort",
            Param = new List<ParamSort>()
            {
                new ParamSort("от a до я", "Name", TypeSort.OrderBy),
                new ParamSort("от я до а", "Name", TypeSort.OrderByDescending)
            }
        },
        new NavMethodsForTablesViewModel<ParamSort>()
        {
            Name = "Сортировка по Описанию издательство",
            Controller = "Publisher",
            Action = "Sort",
            Param = new List<ParamSort>()
            {
                new ParamSort("от а до я", "Description", TypeSort.OrderBy),
                new ParamSort("от я до а", "Description", TypeSort.OrderByDescending)
            }
        }
    };

    var Search = new NavMethodsForTablesViewModel<ParamSearch>()
    {
        Name = "Поиск по таблице Категории",
        Controller = "Publisher",
        Action = "Search",
        Param = new List<ParamSearch>()
        {
            new ParamSearch("Всем полям", "All"),
            new ParamSearch("Названию названию издательства", "Name"),
            new ParamSearch("По описанию издательства", "Description")
        }
    };

    var operation = OperationResult.CreateResult<NavMethodsForTablesViewModel>(new NavMethodsForTablesViewModel(listSort, Search));
    <partial name="_NavMethodsForTablesPartial" model='operation' />

    <div class="container align-items-center mt-5">
        <h2 class="text-center">@ViewData["MiniTitle"]</h2>
        <p class="text-center">Просмотр списка издательств (редактирование и удаление издательств)</p>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center" scope="col">#</th>
                    <th class="text-center" scope="col">@EntitiesModelsConfiguration.PublisherName</th>
                    <th class="text-center" scope="col">@EntitiesModelsConfiguration.PublisherDescription</th>
                    <th class="text-center" scope="col">Изменить</th>
                    <th class="text-center" scope="col">Удалить</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                    foreach (var value in Model.Result)
                    {
                        <tr>
                            <th class="text-center" scope="row">@i.ToString()</th>
                            <td class="text-center" scope="row">@value.Name</td>
                            <td class="text-center" scope="row">@value.Description</td>
                            <td class="text-center" scope="row">
                                <a href="/Publisher/Update?id=@value.Id.ToString()" class="btn btn-primary btn-block" role="button">Изменить</a>
                            </td>
                            <td class="text-center" scope="row">
                                <a href="/Publisher/Delete?id=@value.Id.ToString()" class="btn btn-primary btn-block" role="button">Удалить</a>
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
}