@using ProtectionOfInfo.WebApp.Data.Configurations
@using ProtectionOfInfo.WebApp.ViewModels.CatalogViewModels.PublisherViewModels
@using ProtectionOfInfo.WebApp.Infrastructure.OperationResults
@model OperationResult<PublisherUpdateViewModel>
@{
    ViewData["Title"] = "Редактирование издательства";
    ViewData["MiniTitle"] = "Редактирование данных издательства";
    ViewData["ErrorTitle"] = ViewData["MiniTitle"];
}

@if (Model != null && !Model.Ok)
{
    var operation = new OperationResult<object>();
    operation.MetaData = Model.MetaData;
    operation.Exception = Model.Exception;
    operation.AppendLog(Model.Logs);
    <partial name="_ErrorPartial" model='operation' />
}

@if (Model != null && Model!.Ok)
{
    <div class="container col-6 align-items-center mt-5">
        <h1 class="text-center">@ViewData["MiniTitle"]</h1>
        <form method="post" asp-controller="Publisher" asp-action="Update">
            <div asp-validation-summary="All"></div>
            <div class="form-group" style="visibility:hidden; display: none;">
                <label asp-for="Result.Id" for="Name">Id</label>
                <input asp-for="Result.Id" type="text" class="form-control" id="Id" name="Id" placeholder="Id" value="@Model!.Result.Id.ToString()">
            </div>
            <div class="form-group">
                <label asp-for="Result.Name" for="Name">@EntitiesModelsConfiguration.PublisherName</label>
                <input asp-for="Result.Name" type="text" class="form-control" id="Name" name="Name" placeholder="@EntitiesModelsConfiguration.PublisherName" value="@Model!.Result.Name">
            </div>
            <div class="form-group">
                <label asp-for="Result.Description" for="Description">@EntitiesModelsConfiguration.PublisherDescription</label>
                <textarea asp-for="Result.Description" class="form-control" id="Description" name="Description" rows="10" placeholder="@EntitiesModelsConfiguration.PublisherDescription">@Model!.Result.Description</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Изменить данные издательства</button>
        </form>
    </div>
}